<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE struts-config PUBLIC "-//Apache Software Foundation//DTD Struts Configuration 1.2//EN" "http://struts.apache.org/dtds/struts-config_1_2.dtd">

<struts-config>
  <data-sources />
 	<form-beans >    	  
 	<form-bean name="organizationForm" type="com.system.form.OrganizationForm" /> 	    
 	<form-bean name="companyForm" 	type="com.system.form.CompanyForm" />  
 	<form-bean name="productForm" type="com.system.form.ProductForm" />   	
 	<form-bean name="projectForm" type="com.system.form.ProjectForm" />  
  	</form-beans>
	<global-exceptions >
  	<exception key="sql.error" type="java.sql.SQLException"  scope="request" handler="com.publics.ExceptionHander"   path="/error.jsp" />
  	</global-exceptions>
  	<global-forwards >
   	<forward name="success" path="/success.jsp" />
    <forward name="index" 	path="/index.jsp" /> 
  	</global-forwards>
  	<action-mappings >     	
    <action  name="organizationForm"  path="/organization"  parameter="jobname"   type="com.system.action.OrganizationAction" />  
    <action  name="companyForm"  path="/company"  parameter="jobname"   type="com.system.action.CompanyAction" />  
    <action  name="productForm"  path="/product"  parameter="jobname"   type="com.system.action.ProductAction" />  
    <action  name="projectForm"  path="/project"  parameter="jobname"   type="com.system.action.ProjectAction" />  
  	</action-mappings>   
</struts-config>

